{% extends "base.html.twig" %}

{% block title %}Spectacles{% endblock %}

{% block content %}

    <h1>Spectacles</h1> {# 'message' vient du contrôleur #}
    

    {# <ul> #}
      {% for spectacle in spectacles%}
        <article>
          <header>
            <h2>{{spectacle.title}}</h2>
          </header>
          <p>
            {{spectacle.description}}
          </p>
          <footer>
            <a role="button" href="{{ basePath }}/spectacles/{{ spectacle.id }}">
              Plus d'info
            </a>
          </footer>
        </article>
      {% endfor %}
    {# </ul> #}
{% endblock %}
