
<h1>Activez la double authentification</h1>

<p>Scannez ce QR Code avec Google Authenticator :</p>
<img src="{{ qrImage }}" alt="QR Code">

<p>Ou entrez ce code manuellement : <strong>{{ secret }}</strong></p>
