{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block content %}

    <h1>{{user.firstname}} {{user.lastname}}</h1> {# 'message' vient du contrôleur #}
    
    <h2>Vos réservations</h2>

    <ul>
      {% for reservation in user.reservations %}
       <li>{{reservation.title}}</li> 
      {% endfor %}
    </ul>
{% endblock %}
